<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

<body>
  <div class="main-content">
 <!-- Page content -->

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a >
                <img src="http://localhost:8080/{{employee.image}}" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <a  class="btn btn-sm btn-info mr-4 ps-4 pe-4" (click)="switch()" >Edit</a>
            <a  class="btn btn-sm btn-default float-right">Message</a>
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                <div>
                  <span class="description">Age</span>
                  <h3>{{employee.age}}</h3>
                </div>
                <div>
                  <span class="description">Job</span>
                  <h3>{{employee.job}}</h3>
                </div>
                <div>
                  <span class="description">Salary</span>
                  <h3>{{employee.salary}}</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <div class="h5 font-weight-400">
              <i class="ni location_pin mr-2"></i>{{employee.firstName}}, {{employee.lastName}}
            </div>
            <h3>
              <span class="description">Phone : {{employee.phone}}</span>
            </h3>
            <h3>
              <span class="description">SSN:</span>{{employee.SSN}}
            </h3>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>{{employee.address.city}}-{{employee.address.street}}-{{employee.address.building}}
            </div>
            <hr class="my-4">
          </div>
        </div>
      </div>
    </div>
    <!-- ===================== -->


    <div *ngIf="flag==false" class="col-xl-8 order-xl-1">
      <div class="card bg-white shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">My account</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form  [formGroup]="profileForm" (ngSubmit)="update()">
            <h6 class="heading-small  mb-4">User information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group focused">
                    <label class="form-control-label" for="input-first-name">First name</label>
                    <input type="text" id="input-first-name" class="form-control form-control-alternative"  formControlName="firstName">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group focused">
                    <label class="form-control-label" for="input-last-name">Last name</label>
                    <input type="text" id="input-last-name" class="form-control form-control-alternative" value="{{employee.lastName}}" placeholder="{{employee.lastName}}" formControlName="lastName">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group focused">
                    <label class="form-control-label" for="input-last-name">Phone</label>
                    <input type="text" id="input-last-name" class="form-control form-control-alternative" value="{{employee.phone}}" placeholder="{{employee.phone}}" formControlName="phone">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4">
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Address</h6>
            <div class="pl-lg-4" formGroupName="address">
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group focused">
                    <label class="form-control-label" for="input-city">City</label>
                    <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="{{employee.address.city}}" formControlName="city" >
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group focused">
                    <label class="form-control-label" for="input-country">street</label>
                    <input type="text" id="input-country" class="form-control form-control-alternative" placeholder="{{employee.address.street}}" formControlName="street" >
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">building</label>
                    <input type="number" id="input-building" class="form-control form-control-alternative" placeholder="{{employee.address.building}}" formControlName="building">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">image</label>
                    <input type="file" name="profile" class="form-control form-control-alternative"  (change)="onFileChange($event)">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4">
            <!-- Submit -->
            <h6 class="heading-small text-muted mb-4">Submit</h6>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
              <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-sm btn-default float-right" (click)="switch()">Cancel</button>
                <button type="submit" [disabled]="!profileForm.valid" class="btn btn-sm btn-default float-right" >Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
</body>

