<link
  href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
  rel="stylesheet"
/>

<body>
  <app-header2></app-header2>
  <div class="main-content">
    <div class="container-fluid mt--7">
      <div class="row justify-content-center">
        <div class="col-sm-9 col-xl-10 order-xl-1">
          <div class="card bg-white shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">My account</h3>
                </div>
                <div class="col-4 mt--7">
                  <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2">
                      <div class="card-profile-image">
                        <a href="#">
                          <img
                            src="https://bootdey.com/img/Content/avatar/avatar7.png"
                            class="rounded-circle"
                          />
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="card-body">
              <h5 class="heading-small text-muted mb-4">User information</h5>
              <div class="pl-lg-4">
                <!-- ================= User info ======================== -->
                <div class="row">
                  <!-- first name box -->
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for=""
                        >First Name</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        value="{{ patient.firstName }}"
                      />
                    </div>
                  </div>
                  <!-- last name box -->
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="">Last Name</label>
                      <input
                        type="text"
                        class="form-control"
                        value="{{ patient.lastName }}"
                      />
                    </div>
                  </div>

                  <!-- SSN box -->
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="">SSN</label>
                      <input
                        type="text"
                        class="form-control"
                        minlength="14"
                        maxlength="14"
                        placeholder="14 Number"
                        value="{{ patient.SSN }}"
                      />
                    </div>
                  </div>
                  <!-- Age box -->
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="">Age</label>
                      <input
                        type="number"
                        class="form-control"
                        min="1"
                        max="50"
                        value="{{ patient.age }}"
                      />
                    </div>
                  </div>

                  <!-- ================= Email box ======================== -->
                  <!-- <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email"
                          >Email address</label
                        >
                        <input
                          type="email"
                          id="input-email"
                          class="form-control form-control-alternative"
                        />
                      </div>
                    </div> -->
                </div>
              </div>
              <hr class="my-4" />
              <!-- =========================== Address ======================= -->
              <h5 class="heading-small text-muted mb-4">Contact information</h5>
              <div class="pl-lg-4">
                <div class="row">
                  <!-- ************ city box ************ -->
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="">City</label>
                      <input
                        type="text"
                        class="form-control"
                        value="{{ patient.address.city }}"
                      />
                    </div>
                  </div>
                  <!-- ************ street box ************ -->
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="">Street</label>
                      <input
                        type="text"
                        class="form-control"
                        value="{{ patient.address.street }}"
                      />
                    </div>
                  </div>
                  <!-- ************ building number box ************ -->
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for=""
                        >Building Number</label
                      >
                      <input
                        type="number"
                        class="form-control"
                        min="1"
                        value="{{ patient.address.building }}"
                      />
                    </div>
                  </div>
                  <!-- ************ Phone number box ************ -->
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="">Phone</label>
                      <input
                        type="text"
                        class="form-control"
                        maxlength="11"
                        minlength="11"
                        value="{{ patient.phone }}"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4" />
              <div
                class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4"
              >
                <div class="d-flex justify-content-around">
                  <button (click)="goBack()" class="btn btn-default col-4">
                    Back
                  </button>
                  <button
                    (click)="update()"
                    class="btn btn-success col-4 float-right"
                  >
                    Save
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
