
.custom-button-save {
    background-color: #2f9433; /* Green */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.custom-button-cancel {
    background-color: #c91002; /* Green */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.actions{
    padding: 0px , 25px , 20px;
    button{
        flex: 1 ;
    }
}
